body{
  background-color: #0B2434;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

main{
  width: 400px;
  height: 400px;
  border-radius: 10px;
  border: none;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  justify-content: center;
  align-items: center;
}

.die-container{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;

}

.btns{
  width:45px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.30);
  cursor: pointer;
  transition: ease-out 150ms;
  font-size: 24px;
  font-family: 'Karla';
  font-weight: 600;

}

.btns:active{
  transform: scale(0.97);
}

.roll-btn{
    white-space: nowrap;
    width: auto;
    padding: 10px 20px;
    height: 40px;
    font-family: "Karla";
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #5035FF;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
    transition: ease-out 100ms;
    margin-top: 25px;
}

.roll-btn:active{
    transform: scale(0.97);
}