body{
  margin: 0;
  font-family: Inter, sans-serif;
  display: flex;;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #FAFAF8;

}

.Button1{
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);

  transition: transform 150ms ease-out;
}

.Button1:active{
  transform: scale(0.97);
}

.Button2{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);

  transition: transform 150ms ease-out;
}

.Button2:active{
  transform: scale(0.97);
}