body{
  background-color: rgb(12, 12, 12);
  margin: 0px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card{
  background-color: rgb(245, 242, 186);
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 10px;

  transition: transform 150ms ease;

}

.jokes{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}

.setup{
  padding-top: 0px;
}

.punch{
  font-weight: 550;

}

button{
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(12, 12, 12);
  color: rgb(233, 220, 39);
  font-size: 14px;
  cursor: pointer;
}

