body{
  background-color: rgb(12, 12, 12);
  margin: 0px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card{
  background-color: rgb(245, 242, 186);
  width: 500px;
  height: 550px;
  border-radius: 10px;

  transition: transform 150ms ease;

}

.Card:hover{
  transform: scale(0.97);
}

.jokes{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}

.setup{
  padding-top: 40px;
}

.punch{
  font-weight: bold;
  padding-left: 10px;
}
