body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

header > h1 {
    font-size: 1.25rem;
    font-family: Karla;
    color: #F9F4DA;
    font-weight: 700;
}

header > p {
    font-size: 0.875rem;
    width: 320px;
    max-width: 350px;
    color: #8E8E8E;
    font-family: Karla;
}

.status{
  display: flex;          
  align-items: center;    
  justify-content: center;
  border-radius: 6px;
  width: 320px;
  height: 52px;
}

.status > h3 {
    font-size: 18px;
    font-weight: 800;
    font-family: karla;
    letter-spacing: -1.5px;
    color: rgb(178, 215, 132);
}

.languages{
  margin-top: 40px;

  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 320px;
  justify-content: center;
  
}

.lang{
  padding: 5px;
  border-radius: 4px;
  font-family: Karla;
  font-weight: 500;
}

.word{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5px;
    margin-top: 50px;
}

.letter{
    background-color: #323232;
    padding: 6px;
    height: 30px;
    width: 30px;
    border-bottom: #F9F4DA;
    color: #F9F4DA;
    font: Hanken Grotesk;
    border-bottom: 1px solid #F9F4DA;

    
    display: flex;
    justify-content: center;
    align-items: center;
}

 
.keyboard{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    max-width: 450px;
}

.keyboard > button{
    height: 35px;
    width: 35px;
    border-radius: 3px;
    background-color: #adadad;
    border: none;
    cursor: pointer;

    transition: 150ms ease-out;
}

.keyboard > button:active{
    transform: scale(0.97);
}


.keyboard > button.correct {
    background-color: #10A95B;
}

.keyboard > button.wrong {
    background-color: #EC5D49;
}

.new-game {
    background-color: #084f11;
    color: white;
    font-family: karla;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;

    margin-top: 40px;

    transition: 150ms ease-out;
} 

.new-game:active{
    transform: scale(0.97);
}